{% extends "base.html.twig" %}

{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    <div class="bg-light mt-0" style="margin-bottom: 5em">
        <h1 class="text-center pt-5" style="font-family:'Workbench', sans-serif;">A propos de notre histoire</h1>
        <p style="margin-right: 12em; margin-top: 4em; float: right; max-width: 50%; margin-bottom: 5em; font-size: larger; font-family: 'Bauhaus 93',serif">
            Chez The Blog nous sommes une équipe passionnée par l'écriture, la créativité et le partage de connaissances. Notre objectif est de fournir un espace accueillant où les amateurs de blogging peuvent s'exprimer, échanger des idées et découvrir de nouveaux contenus inspirants.

            Nous croyons en la puissance des mots pour inspirer, éduquer et divertir. Que vous soyez un écrivain chevronné ou un débutant passionné, nous vous invitons à rejoindre notre communauté dynamique et à partager vos histoires, vos idées et vos expériences

            avec le monde entier. Notre équipe travaille sans relâche pour vous offrir une belle expérience de blogging. Nous mettons l'accent sur la qualitéet la diversité du contenu que nous publions, et nous sommes toujours ouverts à de nouvelles idées et pourquoi pas à de collaborations !

            Explorez nos articles, découvrez de nouvelles perspectives et rejoignez la conversation ! <br> <h5 style=" float: right;margin-right: 8em; font-family: 'Bauhaus 93',sans-serif; font-style: oblique">Bienvenue encore et merci à vous de participer à notre voyage et à très vite sur The Blog :)</h5>
        <img height="600" width="auto" class="" src="{{ asset('uploads/madame-64e863076d1aa.png') }}" alt="shutterstock">
    </div>
{% endblock %}