
#calli {
    background-color: purple;
} 

#light {
    width: 20%;
}
.logboutton:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
.homelogin:hover {
    outline-color: #5a01a7;
    outline-style: groove;
}

.font {
    font-family: Rockwell, serif, serif;
}

#font {
    font-family: Rockwell, serif;
}

.divGeneralDetail {
    background-color: paleturquoise;
    font-size: 16px;
}

#divCommentary {
    width: 30%;
}

.maclasse{
    margin-top: 2em;
}

