
#calli {
    background-color: #d1e7dd;
} 

#light {
    width: 20%;
}
.logboutton:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
.homelogin:hover {
    outline-color: #5a01a7;
    outline-style: groove;
}