{% extends "base.html.twig" %}

{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    <h1 class="text-center mt-5" style="font-family:'Workbench', sans-serif; ">EN COURS DE DEVELOPPEMENT</h1>
    <div class="text-center">
        <img height="400" width="auto" src="https://cdn-icons-png.flaticon.com/512/4229/4229215.png" alt="maintenance">
    </div>
{% endblock %}