{% extends "base.html.twig" %}

{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    <div id="contact" class="pt-4 pb-5">
        <h1 class="text-center mt-2" style="font-family:'Workbench', sans-serif;">En cours de développement</h1>
        <p class="text-center mt-1">Veuillez nous excuser pour la gêne occasionnée !</p>
        <div class="text-center mt-4">
            <img height="400" width="auto" src="https://cdn-icons-png.flaticon.com/512/4229/4229215.png" alt="maintenance">
        </div>
    </div>
{% endblock %}