{% extends 'base.html.twig' %}

{% block title %}Modifier Tag{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Tag</h1>

    <div class="d-flex justify-content-center">{{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}</div>

    <div class="text-center"><a style="text-decoration: none" href="{{ path('app_tag_index') }}">Liste des tags</a></div>

    <div class="text-center">{{ include('tag/_delete_form.html.twig') }}</div>
{% endblock %}
