{% extends "base.html.twig" %}

{% block body %}

	<h3 class="container display-7 border border-warning-subtle text-center rounded-3">Détails d'articles :</h3>

	<h3 class="text-center display-6">{{ article.title }}</h3>
	<p class="text-center display-6">{{ article.description }}</p>

	<div class="bouton d-flex justify-content-center">
		<a class="btn btn-primary" href="{{path('article_edit', { id : article.id }) }}">✍</a>
		<a id="supp" class="btn btn-primary" href="{{path('article_delete', { id : article.id }) }}" onclick="deleteAlert()">supprimer</a>
	</div>

	<script>
		function deleteAlert() {
if (confirm("Etes-vous sûr de supprimer cet article ?") === true) {
return true;
} else {
event.stopPropagation();
event.preventDefault();
}
}
	</script>
{% endblock %}
