{% extends "base.html.twig" %}

{% block body %}

	<h3 class="container display-7 border border-warning-subtle text-center rounded-3">Détails d'articles :</h3>

	<h3 class="text-center display-6">{{ article.title }}</h3>
	<p class="text-center display-6">{{ article.description }}</p>

	{# <h6>{{ date }}</h6> #}


{% endblock %}
